<section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-2 col-sm-12">

                      <h3 class="display-3">About</h3>
                      <p>
                        Staff Engineer focused on distributed systems, observability, and engineering productivity.
                        Writing about how to make logging — and engineering — rock.
                      </p>

                </div>
            </div>
        </div>
</section>
