<section id="content">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 col-sm-12">
                    <h3 class="display-4 mb-4">Latest</h3>

                    {% for post in site.posts %}
                    <article class="mb-5">
                        <h4><a href="{{ post.url }}" class="text-dark">{{ post.title }}</a></h4>
                        <div class="post-meta mb-2">
                            <time class="text-muted">{{ post.date | date: "%B %d, %Y" }}</time>
                            {% if post.tags.size > 0 %}
                            &middot;
                            {% for tag in post.tags %}
                            <span class="tag">{{ tag }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                        {% if post.description %}
                        <p class="text-muted">{{ post.description }}</p>
                        {% elsif post.intro %}
                        <p class="text-muted">{{ post.intro }}</p>
                        {% endif %}
                    </article>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
